body {
    background: gray;
    margin:0;
    padding: 0;
}
.main_container{
display: flex;
justify-content: center;

}

.first_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 330px;
    height: 120px;
    margin: 0 auto 40px auto;
    padding : 0 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

  .title {
    color: grey;
    font-size: 18px;
  }
  
  #button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-size: 16px;
    bottom: 0;
    text-decoration: none;
  }
  
  #button:hover, a:hover {
    opacity: 0.7;
  }

.container {
    max-width: 80%;
    height: 120px;
    background: linear-gradient(90deg, rgba(81,99,149,1) 0%, rgba(97,67,133,1) 100%);
    border-radius: 25px;
    margin: 0 auto 40px auto;
    box-shadow: 0 2px 5px rgb(79, 78, 99);
    /* border: 2px solid #3c61b9; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container:hover {
    /* top: -10px; */
    box-shadow: 0 3px 5px rgb(185, 93, 93);
}

.card {
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card h3{
    margin: 0 0 15px 0;
    color: #51ee1e;
}

.line {
    height: 80%;
    width: 1px;
    background: gray;
}

.Score {
    font-family: 'Tomorrow', sans-serif;
    font-size: 25px;
    color: white;
    margin: 1px;
    text-shadow: 0px 2px 2px #7c7676;
}

footer {
height: 55px;
display: flex;
align-items: center;
justify-content: center;
}




