body,
html {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', 'Open Sans', sans-serif;   
     background: linear-gradient(to right, #9bb4c7 0%, #283269 100%);
  }
 
.profile-container{
    width: 100%;
    margin: 20px 50px;
    display: flex;
    flex-direction: row;  
    justify-content: space-around; 
     
}
.profile-menu{
    padding: 20px 5px 0 0 ;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
    width: 600px;
}
.image-container{
    margin: 10px;
    justify-content: center;
    text-align: center;    
}
.image-container img{
    max-width: 150px;
    height: 150px;
    border-radius: 50%;
}
.ul{
    list-style: none;
    padding: 0;
    margin: 2px;
    color: #7c7878;
}
.li{
    padding-left: 30px;
    font-size: 15px;
}

.description{
    border-bottom: 1px solid #c7c5c5;
    font-size: 12px;
    padding: 0 10px 0px 7px;
    color: rgb(8, 12, 15);
    padding-bottom: 10px;
}
#description{
    font-weight: bold;
    padding-left: 10px;
    color: rgb(46, 46, 46);
    line-height: 40px;
}

.email{
    margin: 5px;
    font-size: 11px;
    color: rgb(110, 108, 108);
}
.name{
    color:#e94311;
    margin: 5px;
}
.username{
    font-size: 14px;
    margin: 5px;
    display: inline-block;
    border: 2px solid;
    padding: 5px;
    border-radius: 25px;
    border-color: rgb(40, 40, 138);
    color: rgb(12, 12, 107);

}
#active {
    font-size: 17px;
    line-height: 50px;
    border-bottom: 1px solid #c7c5c5;
    border-left: 5px solid rgb(50, 50, 95);
    color: rgb(30, 30, 31);
}

a {
    text-decoration: none;
    color:#7c7878;
}
#noactive {
    border-left: 1px solid rgb(78, 78, 122);
    font-size: 16px;
    line-height: 50px;
}

#noactive:hover { 
background-color: rgb(50, 50, 95);
color: darkgray;
font-weight: bold;

}
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
}

.container
{
    margin: 20px auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.container .card
{
    position: relative;
    width: 200px;
    background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    margin: 20px;

}
.container .card:hover
{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}
.container .card:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .03);
    pointer-events: none;
    z-index: 1;
}
.percent
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 50px #000;
    background: #222;
    z-index: 1000;
}
.percent .number
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.percent .number h2
{
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}
.card:hover .percent .number h2
{
    color: #fff;
    font-size: 60px;
}
.percent .number h2 span
{
font-size: 24px;
color: #777;
transition: 0.5s;
}
.card:hover .percent .number h2 span
{
    color: #fff;
}
.text
{
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1;
    text-transform: uppercase;
    transition: 0.5s;
}
.card:hover .text
{
    color: #fff;
}
svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}
svg circle
{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}
svg circle:nth-child(2)
{
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.newtest {
    background: #f4511e;
    color: #ffffff;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
    padding: 5px 13px;
    text-align: center;
}